# Assignment 9

## Print the patterns

### Q1
```
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
```

In [1]:
n: int = int(input("Enter the number of rows:"))
    
for i in range(1, n+1):
    for j in range(1, n+1):
        print(j, end=' ')
    print()

Enter the number of rows:5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

***
***
### Q2
```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [2]:
n: int = int(input("Enter the number of rows:"))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

Enter the number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

***
***
### Q3
```
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
```

In [3]:
n: int = int(input("Enter the number of rows:"))

for i in range(n, 0, -1):
    for j in range(i, n + 1):
        print(j, end=" ")

    print()

Enter the number of rows:5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

***
***
### Q4
```
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
```

In [4]:
n: int = int(input("Enter the number of rows:"))
    
for i in range(n, 0, -1):
    for j in range(i , n+1):
        print(j, end = ' ')
    print()

Enter the number of rows:5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

***
***
### Q5
```
1 2 3 4 5
1 2 3 4
1 2 3 
1 2
1
```

In [5]:
n: int = int(input("Enter the number of rows:"))

for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end =' ')
    print()

Enter the number of rows:5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

***
***
##### Q6
```
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
```

In [6]:
n: int = int(input("Enter the number of rows:"))
    
for i in range(1, n+1):
    for j in range(n, i-1, -1):
        print(j, end=' ')
    print()

Enter the number of rows:5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

***
***
### Q7
```
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [7]:
n: int = int(input("Enter the number of rows:"))
    
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

Enter the number of rows:5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

***
***
### Q8
```
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5
```

In [8]:
n: int = int(input("Enter the number of rows:"))
    
for i in range(1, n+1):
    for j in range(i, n+1):
        print(j, end = ' ')
    print()

Enter the number of rows:5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

***
***
### Q9
```
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
```

In [9]:
n: int = int(input("Enter the number of rows:"))
cnt: int = 1
    
for i in range(1, n+1):
    for j in range(1, i+1):
        print(cnt, end=' ')
        cnt += 1
    print()

Enter the number of rows:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

***
***
### Q10
```
1 2 1 2 1
1 2 1 2
1 2 1
1 2
1
```

In [10]:
n: int = int(input("Enter the number of rows:"))
    
for i in range(n, 0, -1):
    for j in range(1, i+1):
        if j%2 == 0:
            print(2, end=' ')
        else:
            print(1, end=' ')
    print()

Enter the number of rows:5
1 2 1 2 1
1 2 1 2
1 2 1
1 2
1